*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: hsl(var(--hue), 100%, 20%);
    font-size: 250%;
}

body.correct {
    --hue: var(--hue-correct);
    transition: 500ms;
}

body.wrong {
    --hue: var(--hue-wrong);
    transition: 500ms;
}

.container {
    width: 550px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px 2px;
    padding: 30px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px, 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 20px;
    width: 200px;
    color: white;
    outline: none;
    font-size: 200%;
    justify-self: center;
}

.btn:hover {
    border-color: black;
    color: hsl(var(--hue), 100%, 50%);
    background-color: white;
    transform: scale(1.05);
    transition: 300ms;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
    transition: 500ms;
}

.btn.wrong {
    --hue: var(--hue-wrong);
    transition: 500ms;
}

.start-btn, .next-btn {
    font-size: 3rem;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
    width: 300px;  
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

#question {
    padding-bottom: 20px;
    margin-left: 20px;
}